

*{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}


body{
  margin: 0px;
}
.intestazione {
  background-image:url(../images/sfondo.jpg);
  color: #FFFFFC;
 position: absolute;
 background-size: cover;
 top: 0px;
 margin: 0px;
 display: flex;
 width: 100%;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 60%;
  
}

.barralaterale {
  width: 210px;
  float: left;
  z-index: 1; 
  margin-top: -20px;
  overflow-x: hidden; 
  padding-left: 10px;
}
.presentaz {
padding-top: 30px;
padding-left: 10px;
}
.main {
  margin-top: 180px;
  margin-left: 210px; 
  padding: 0px 5px;
}


@media screen and (max-width: 600px) {

 img {
  width: 250px;
  height: 150px;
  padding-top: 7px;
 }

 .barralaterale {
  width: 210px;
  float: left;
  z-index: 1; 
  margin-top: -20px;
  overflow-x: hidden; 
  padding-left: 10px;
}
.presentaz {
padding-top: 30px;
padding-left: 10px;
}
.main {
  margin-top: 180px;
  margin-left: 210px; 
  padding: 0px 5px;
}

}

@media only screen and (min-width: 601px) and (max-width: 960px) {

  .barralaterale {
    width: 210px;
    float: left;
    z-index: 1; 
    margin-top: -20px;
    overflow-x: hidden; 
    padding-left: 10px;
  }
  .presentaz {
  padding-top: 30px;
  padding-left: 10px;
  }
  .main {
    margin-top: 205px;
    margin-left: 210px; 
    padding: 0px 5px;
  }


}

@media only screen and (min-width: 961px) {

  .barralaterale {
    width: 210px;
    float: left;
    z-index: 1; 
    margin-top: -20px;
    overflow-x: hidden; 
    padding-left: 10px;
  }
  .presentaz {
  padding-top: 30px;
  padding-left: 10px;
  }
  .main {
    margin-top: 210px;
    margin-left: 210px; 
    padding: 0px 5px;
  }
}